{% extends "base.html" %}

{% block content %}
<h2>User Information</h2>

<form method="POST" action="/submit-profile">
  {{ userForm.hidden_tag() }}

  {{ userForm.name.label }}
  {{ userForm.name(class="form-control") }}

  {{ userForm.gender.label }}
  {{ userForm.gender(class="form-select") }}

  {{ userForm.age.label }}
  {{ userForm.age(class="form-control") }}

  {{ userForm.social_class.label }}
  {{ userForm.social_class(class="form-select") }}

  {{ userForm.country.label }}
  {{ userForm.country(class="form-select") }}

  <button type="submit">Submit</button>
</form>
{% endblock %}